<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div *ngIf="isLoggedIn" class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="">Vacancies <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
    <ul *ngIf="isLoggedIn" class="navbar-nav navbar-collapse justify-content-end">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Actions</a>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" routerLink="/logout">Logout</a>
            </div>
        </li>
    </ul>
</nav>