<app-header></app-header>
<h1 class="text-center py-5">Vacancies</h1>
<div class="table-responsive">
    <div class="container" style="width: 60%;">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Domain</th>
                    <th scope="col">Team</th>
                    <th scope="col">Role</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>xx</td>
                    <td>yy</td>
                    <td>zz</td>
                    <td>tt</td>
                    <button class="btn btn-info my-2 px-3" [routerLink]="['/save']"
                        routerLinkActive="router-link-active">Edit</button>
                </tr>
            </tbody>
        </table>
    </div>
</div>