<app-header></app-header>
<h1 class="text-center py-5">Vacancies</h1>
<div class="table-responsive">
    <div class="container" style="width: 60%;">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Domain</th>
                    <th scope="col">Team</th>
                    <th scope="col">Role</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of person">
                    <th scope="row">{{item.id}}</th>
                    <td>{{item.domain}}</td>
                    <td>{{item.team}}</td>
                    <td>{{item.role}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>