<div class="card my-5" style="width: 30%;">
    <h5 class="card-header text-center bg-light font-weight-bold">Change the status of Vacancy</h5>
    <div class="card-body text-center">
        <label for="status" class="mx-3">Status</label>

        <select id="status">

            <option value="On">Select</option>
            <option value="On">Open to applications</option>
            <option value="On">Filtering Candidates</option>
            <option value="Off">Conducting tests</option>
            <option value="Off">Conducting interview</option>
            <option value="Off">Waiting for candidate to response</option>
            <option value="Off">Conducting Background check</option>
            <option value="Off">Closed</option>

        </select>
        <div>
            <button class="btn btn-primary my-3 px-3">Save</button>
        </div>
    </div>
</div>