<div class="container">
    <div class="row">
        <div class="col">
            <!-- Default form subscription -->
            <p class="text-center h4">Update the vacancy info</p>
            <form class="text-center border border-light p-5" action="#!">




                <input type="text" id="domain" class="form-control mb-4" placeholder="Domain">


                <input type="text" id="team" class="form-control mb-4" placeholder="Team">
                <input type="text" id="role" class="form-control mb-4" placeholder="Role">


                <button class="btn btn-info px-5" type="submit">Save</button>


            </form>

        </div>
    </div>
</div>